

$colorbg: #f8e9c8;

$color-text: #a1b480;

ul {
    list-style-type: none;

 li {
    display: inline;

                } 
                    }
 @import "inicio";

 @import "pasteleria";

 @import "ingredientes";

 @import "recetas";

 @import "contacto";

  


